.spaceship {
  $root: &;
  $size: 250px;
  $angleFuselageSide: 14deg;
  $angleFuselageBack: 8deg;
  $angleWing: 30deg;
  $heightBack: 219px;
  $widthBack: 121px;

  position: relative;
  margin: auto;
  transform-style: preserve-3d;
  will-change: transform;

  &__fuselage {
    transform-style: preserve-3d;

    &--top,
    &--bottom {
      position: relative;
      transform-origin: 0 $size * -1;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: -$size;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $size $size / 2 $size $size / 2;
      }

      &::before {
        right: 0;
        transform-origin: 100% 0;
      }

      &::after {
        left: 0;
        transform-origin: 0 0;
      }
    }

    &--top {
      transform: rotateX(#{$angleFuselageSide});

      &::before {
        transform: rotateY(-#{$angleWing});
        border-color: transparent darken(white, 5%) darken(white, 5%) transparent;
      }

      &::after {
        transform: rotateY(#{$angleWing});
        border-color: transparent transparent darken(white, 0%) darken(white, 0%);
      }
    }

    &--bottom {
      transform: rotateX(-#{$angleFuselageSide});

      &::before {
        transform: rotateY(#{$angleWing});
        border-color: transparent darken(white, 10%) darken(white, 10%) transparent;
      }

      &::after {
        transform: rotateY(-#{$angleWing});
        border-color: transparent transparent darken(white, 5%) darken(white, 5%);
      }
    }

    &--back {
      position: absolute;
      top: $size;
      transform-origin: 0 0;
      transform: rotateX(90deg);

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: -$widthBack;
        width: 0;
        height: 0;
        border-style: solid;
      }

      &::before {
        right: 0;
        border-width: $widthBack $heightBack $widthBack 0;
        border-color: transparent darken(white, 0%) transparent transparent;
        transform: rotateY(-#{$angleFuselageBack}) translateX(1px);
      }

      &::after {
        left: 0;
        border-width: $widthBack 0 $widthBack $heightBack;
        border-color: transparent transparent transparent darken(white, 10%);
        transform: rotateY(#{$angleFuselageBack}) translateX(-1px);
      }
    }
  }
}
